<input type="hidden" name="baseUrl" value="<?php echo $block->getBaseUrl(); ?>" />
<input type="hidden" id="loadingAddress" value="0" />
<div id="address_autocomplete" class="search-autocomplete"></div>